<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-absolute-layout style-name="friendly">
   <vaadin-grid-layout spacing width="45.31%" height="38.46%" :top="302px" :left="502px">
    <row>
     <column>
      <vaadin-label style-name="huge" plain-text _id="lbl_Username">
        Username 
      </vaadin-label>
     </column>
     <column>
      <vaadin-text-field _id="txt_Username"></vaadin-text-field>
     </column>
    </row>
    <row>
     <column>
      <vaadin-label style-name="huge" plain-text _id="lbl_Password">
        Password 
      </vaadin-label>
     </column>
     <column>
      <vaadin-password-field _id="txt_Password"></vaadin-password-field>
     </column>
    </row>
    <row>
     <column></column>
     <column>
      <vaadin-button style-name="friendly" responsive width="190px" plain-text _id="but_login">
        Login 
      </vaadin-button>
     </column>
    </row>
   </vaadin-grid-layout>
   <vaadin-label style-name="h1" responsive width="461px" height="109px" plain-text :top="119px" :left="492px">
     Health Management System 
   </vaadin-label>
   <vaadin-label style-name="colored large h1" width-full height="168px" plain-text _id="lbl_Notification" :top="610px" :left="502px">
     test 
   </vaadin-label>
  </vaadin-absolute-layout>
 </body>
</html>